<ion-content>

  <div class="register-container">

    <div class="register-card">

      <div class="header">
        <img src="assets/kaddakrestaurant11.jpg" alt="">
        <h1 class="title">
          Crea tu cuenta
        </h1>

        <p class="subtitle">
          Es rápido y fácil
        </p>

      </div>

      <div class="form">

        <ion-item class="input-item">
          <ion-input
            label="Nombre completo"
            labelPlacement="floating"
            type="text">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input
            label="Correo electrónico"
            labelPlacement="floating"
            type="email">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input
            label="Teléfono"
            labelPlacement="floating"
            type="tel">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input
            label="Contraseña"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-item>

        <ion-item class="input-item">
          <ion-input
            label="Confirmar contraseña"
            placeholder="Contraseña"
            labelPlacement="floating"
            type="password">
          </ion-input>
        </ion-item>

      </div>

      <div class="terms">

        <ion-checkbox></ion-checkbox>

        <span>
          Acepto los Términos y Condiciones y la Política de Privacidad 
        </span>

      </div>

      <ion-button
        expand="block"
        class="register-button" 
        click="logins()">
        Registrarme
      </ion-button>

      <div class="login">

        <span>
          ¿Ya tienes cuenta?
        </span>

        <a click="menus()">
          Inicia sesión
        </a>

      </div>

    </div>

  </div>

</ion-content>