<ion-content>
  
  <div class="card-container">

    <ion-card class="login-card">

      <ion-card-header>
        <ion-card-title>Bienvenido KADDAK</ion-card-title>
      </ion-card-header>

      <h4 class="subtitle">
        Iniciar sesión para continuar
      </h4>

      <ion-card-content>

        <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Usuario"
            type="text"
            [(ngModel)]="email">
          </ion-input>
        </ion-item>
        
         <ion-item>
          <ion-input
            labelPlacement="floating"
            label="Contraseña"
            type="password"
            [(ngModel)]="password">
          </ion-input>
        </ion-item>

      </ion-card-content>

      <ion-button
        expand="block"
        class="login-btn"
        (click)="login()">
        Iniciar Sesión
      </ion-button>

      <div class="register-section">

        <p class="register-text">
          ¿No tienes una cuenta aún?
        </p>

        <ion-button
          fill="clear"
          class="register-btn"
          (click)="registers()">
            Registrarme
        </ion-button>

      </div>

      <p class="divider-text">
        o continúa con
      </p>

      <div class="social-icons">

        <img
          src="assets/google-icon.png"
          alt="Google"
          class="social-icon">

        <img
          src="assets/facebookicono.png"
          alt="Facebook"
          class="social-icon">

        <img
          src="assets/appleicono.png"
          alt="Apple"
          class="social-icon">

      </div>

    </ion-card>

  </div>

</ion-content>
