<ion-content>
     <div class="Card">
       <ion-card>
          <ion-card-header>
            <ion-card-title>Bienvenido</ion-card-title>
         </ion-card-header>
           <h4>Iniciar seccion para continuar</h4>
         <ion-card-content>
          <ion-item>
               <ion-label>Usuario</ion-label>
               <ion-input type="email"></ion-input>
            </ion-item>
            <ion-item>
               <ion-label>Contresena</ion-label>
               <ion-input type="Contrasena"></ion-input>
            </ion-item>
           </ion-card-content>
             <ion-button (click)="registers()"> Iniciar Seccion</ion-button>
             <p> o continua con</p>
              <div class="social-icons">
                 <img src="src/assets/google-icon.png" alt="Google">
                 <img src="src/assets/facebookicono.png" alt="Facebook">
                 <img src="src/assets/appleicono.png" alt="Apple">
              </div>  
        </ion-card>
      </div>  
</ion-content>
