<ion-content>  
       <ion-content>

  <!-- Header -->
  <div class="header">

    <div>
      <h2>¡Hola, Ana! 👋</h2>
      <p>¿Qué vas a ordenar hoy?</p>
    </div>

    <div class="icons">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-icon name="cart-outline"></ion-icon>
    </div>

  </div>

  <!-- Search -->

  <ion-searchbar
    placeholder="Buscar tu plato favorito...">
  </ion-searchbar>

  <!-- Categorias -->

  <div class="categories">

    <div class="category">
      <div class="circle active">🍜</div>
      <span>Popular</span>
    </div>

    <div class="category">
      <div class="circle">🍕</div>
      <span>Pizza</span>
    </div>

    <div class="category">
      <div class="circle">🍔</div>
      <span>Burgers</span>
    </div>

    <div class="category">
      <div class="circle">🥤</div>
      <span>Bebidas</span>
    </div>

    <div class="category">
      <div class="circle">🍰</div>
      <span>Postres</span>
    </div>

  </div>

  <!-- Banner -->

  <div class="banner">

    <div>
      <h3>Pide sin hacer la fila</h3>
      <p>Ordena desde tu mesa y ahorra tiempo.</p>

      <ion-button size="small">
        Ordenar ahora
      </ion-button>
    </div>

    <div class="banner-image">
      🌿🪑
    </div>

  </div>

  <!-- Recomendados -->

  <div class="section-title">
    <h2>Recomendados</h2>
    <span>Ver todos</span>
  </div>

  <!-- Card Principal -->

  <div class="featured-card">

    <img src="assets/images/burger.jpg">

    <div class="info">

      <h3>Hamburguesa Kaddak</h3>

      <p>
        Carne 100% fresca,
        queso cheddar y salsa especial
      </p>

      <h4>$12.50</h4>

    </div>

    <ion-button shape="round">
      +
    </ion-button>

  </div>

  <!-- Grid -->

  <div class="food-grid">

    <div class="food-card">

      <img src="assets/images/pizza.jpg">

      <h4>Pizza Especial</h4>

      <span>$14.90</span>

    </div>

    <div class="food-card">

      <img src="assets/images/pasta.jpg">

      <h4>Pasta Alfredo</h4>

      <span>$11.90</span>

    </div>

  </div>

</ion-content>

<!-- Bottom Menu -->

<ion-tab-bar slot="bottom">

  <ion-tab-button>
    <ion-icon name="home"></ion-icon>
    <ion-label>Inicio</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="restaurant"></ion-icon>
    <ion-label>Menú</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="receipt"></ion-icon>
    <ion-label>Pedidos</ion-label>
  </ion-tab-button>

  <ion-tab-button>
    <ion-icon name="person"></ion-icon>
    <ion-label>Perfil</ion-label>
  </ion-tab-button>

</ion-tab-bar>
     
  
</ion-content>
