<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AppKaddak</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="!isOnline" style="background: red; color: white; text-align: center; padding: 20px; font-weight: bold;">
  ⚠️ No tienes internet (Modo Offline)
</div>

<ion-button expand="block" routerLink="/menu">
  MENÚ
</ion-button>


  <div style="padding: 20px; text-align: center;">
    <strong>Bienvenido a AppKaddak</strong>
    <p>El sistema está monitoreando tu conexión en tiempo real.</p>
    
  </div>
  <div style="padding: 20px;">
  <ion-button expand="block" (click)="simulateOrder()">
    Simular Pedido (Prueba Offline)
  </ion-button>
</div>
</ion-content>