<ion-content>

  <ion-card>

    <ion-card-header>
      <ion-card-title>Crea tu cuenta</ion-card-title>
      <ion-card-subtitle>Es rápido y fácil</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <ion-item>
        <ion-input
          label="Nombre Completo"
          labelPlacement="floating"
          placeholder="Ingrese su nombre">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="email"
          label="Correo Electrónico"
          labelPlacement="floating"
          placeholder="ejemplo@email.com">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="tel"
          label="Teléfono"
          labelPlacement="floating"
          placeholder="809-000-0000">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          placeholder="Ingrese su contraseña">
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-input
          type="password"
          label="Confirmar Contraseña"
          labelPlacement="floating"
          placeholder="Repita su contraseña">
        </ion-input>
      </ion-item>

      <div class="terms-container">
        <ion-checkbox></ion-checkbox>

        <span>
          Acepto los
          <a href="#">términos y condiciones y la Politica de Privacidad</a>
        </span>
      </div>

      <ion-button expand="block" class="register-btn" (click)="menus()">
        Registrarme
      </ion-button>

      <div class="login-link">
        <p>¿Ya tienes una cuenta?</p>
        <a href="#">Iniciar Sesión</a>
      </div>

    </ion-card-content>

  </ion-card>

</ion-content>
